.table {
  width: 50vw;
  border-spacing: 5px 2px;
  height: 120px;
}

.table__head {
  background-color: yellow;
}

.table__head-item {
  padding: 10px;
}

.table__td-nothing-found {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.table__preloader {
  margin: 0 auto;
}