.table {
  width: 50vw;
  border-spacing: 5px 2px;
}

.table__head {
  background-color: yellow;
}

.table__head-item {
  padding: 10px;
}

.table__row {
  /* display: grid; */
  /* grid-template-columns: 136px 255px 168px 166px; */
}